@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Poppins:wght@400;500;700&family=Rubik:wght@500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 18px;
}

body {
  font-family: "Poppins", sans-serif;
  /* background-color: rgba(0, 48, 46, 1);*/
  background-color: rgba(251, 221, 187, 0.51);
}
